<style>
body {
  background-color: black;
  color: white;
}
</style>

<div class="row" style="margin-top: 3em;">
  <h1>아이디어 등록</h1>
  <br>
  <br>
  <div id="loading" class="preloader-wrapper big active" style="display: none;">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
  <%= form_for @idea, url: {action: "create"}, html: {class: "col s12", method: "post", multipart: "true", id: "new_form"} do |form| %>
  
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">label</i>
        <%= form.text_field :name, class: "validate", id: "name", required: true %>
        <label for="name">서비스 이름</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">vpn_key</i>
        <%= form.password_field :password, class: "validate", id: "password", required: true%>
        <label for="password">비밀번호</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">mode_edit</i>
        <%= form.text_field :summary, class: "validate", placeholder: "짧은 서비스 설명", id: "summary", length: "36", required: true %>
        <label for="name">한줄 요약</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">description</i>
        <%= form.text_area :description, class: "materialize-textarea", id: "description" %>
        <label for="description">설명</label>
      </div>
    </div>
    
    <div class="row">
      <div class="col s12">
        <div class="file-field input-field">
          <div class="btn white black-text">
            <span>이미지</span>
            <%= form.file_field :images, multiple: true, accept: "image/*" %>
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="여러장 한꺼번에 업로드 가능">
          </div>
        </div>
      </div>
    </div>
    
    <a href="/ideas/board" class="btn waves-effect right white black-text" style="margin-left: 1em;">취소</a>
    <button id="submit_btn" class="btn waves-effect right white black-text" type="submit">작성
      <i class="material-icons right">send</i>
    </button>
    
  <% end %>
</div>

<script>
$(document).ready(function(){
  $('#new_form').submit(function(){
    if ($('#summary').val().length > 36) {
      alert("한줄 요약은 36자 까지 가능합니다.");
      return false;
    } else if (!$('#description').val()) {
      alert("상세 설명을 적어주세요.");
      return false;
    } else {
      $('#submit_btn').attr("disabled", true);
      $('#cancle_btn').addClass("disabled");
      $('#cancle_btn').removeClass("waves-effect");
      $('#loading').css('display','');
      $('.fixed-action-btn').css('display','none');
    };
  });
});
</script>